* {
  font-family: Helvetica;
}

.banner {
  background-image: url(../images/pattern.jpeg);
}

.content {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes h2 {
  background-color: mediumspringgreen;
}

.frames h2 {
  background-color: lightcoral;
}

.paint h2 {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
